:host {
  display: contents;
}

.toast-container {
  z-index: 1090;
  pointer-events: none;

  .toast {
    pointer-events: auto;
  }

  &.pos-top-right { top: 0; right: 0; }
  &.pos-top-left { top: 0; left: 0; }
  &.pos-bottom-right { bottom: 0; right: 0; }
  &.pos-bottom-left { bottom: 0; left: 0; }
  &.pos-top-center { top: 0; left: 50%; transform: translateX(-50%); }
  &.pos-bottom-center { bottom: 0; left: 50%; transform: translateX(-50%); }
}
