:host {
  display: block;
  position: relative;
}

.ms-control {
  cursor: text;
  min-height: calc(1.5em + .75rem + 2px);

  &.focused {
    border-color: #86b7fe;
    box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25);
  }

  &.disabled {
    background-color: var(--bs-secondary-bg);
    cursor: default;
  }
}

.ms-input {
  border: 0;
  outline: none;
  min-width: 6rem;
  background: transparent;
}

.ms-panel {
  position: absolute;
  z-index: 1050;
  left: 0;
  right: 0;
  max-height: 15rem;
  overflow-y: auto;
  margin-top: .25rem;

  li {
    cursor: pointer;

    &.active-row {
      background-color: var(--bs-tertiary-bg);
    }
  }
}
