<div class="container">
  <h1>Bootstrap Components</h1>

  <div class="card">
    <div class="card-header">Tag Input Component</div>
    <div class="card-body">
      <div class="d-flex">
        <div class="form-group">
          <label class="form-label">Select Type:</label>
          <select class="form-select" [(ngModel)]="selectedType">
            <option *ngFor="let item of typeList">{{item}}</option>
          </select>
        </div>
      </div>
      <div class="d-flex mt-4 mb-4">
        <div class="form-group">
          <label class="form-label">Tag Input:</label>
          <app-tag-input [(tags)]="tagList" [type]="selectedType"></app-tag-input>
        </div>
      </div>
      <h2>Your selected Tags:</h2>
      <div class="d-flex">
        <ul>
          <li *ngFor="let tag of tagList">{{tag}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
